<!DOCTYPE html>
<html lang="en">
<head>
  <title>Course List</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Course List</h2>

  <input class="form-control" id="myInput" type="text" placeholder="Search..">
<!--  <br>-->
<!--  <ul class="list-group" id="myList">-->
<!--    <li class="list-group-item">{{i.subject}} {{i.catalog_number}}</li>-->
<!--    <li class="list-group-item">{{i.description}}</li>-->
<!--    <li class="list-group-item">{{i.course_section}}</li>-->
<!--    <li class="list-group-item">{{i.instructor_name}}</li>-->
<!--  </ul>-->
</div>

<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myList li").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

</body>
</html>

<head>
<!--  <title>Course List</title>-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
<!--  <h2>Course List</h2>-->
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Course Number</th>
        <th>Description</th>
        <th>Course Section</th>
        <th>Instructor</th>
      </tr>
    </thead>
    <tbody>
    {% for i in response %}
      <tr>
        <td>{{i.subject}} {{i.catalog_number}}</td>
        <td>{{i.description}}</td>
        <td>{{i.course_section}}</td>
        <td>{{i.instructor.name}}</td>
        <td><button type="button" class="btn btn-info">Add</button><td>
      </tr>
    {%endfor%}
    </tbody>
  </table>
</div>

</body>
</html>
