{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}

{% block content %}

<h1>{{studysessionmodel.title}}</h1>
{{studysessionmodel.start_time.date}}
<br />
<small>
    By: {{studysessionmodel.author}}
</small>
<br />

<hr>
{{studysessionmodel.text}}
<br />

<br />
When: {{studysessionmodel.start_time.time}}

<br />
How long: {{studysessionmodel.duration}}
<br />
Where: {{studysessionmodel.address}}
<br />

Enroll:
{% for i in enroll_list %}
<li>{{i}}</li>
{%endfor%}
<hr>
<br />
<form action="{% url 'enroll' studysessionmodel.pk%}" method="POST">
    {% csrf_token%}
    <button type="submit" , name="studysession_id" ,value="{{studysessionmodel.id}}" ,class="btn btn-primary btn-sm"> Enroll </button>
</form>

{% if user.id == studysessionmodel.author.id%}
<form action="{% url 'edit_session' studysessionmodel.pk%}" method="POST">
    {% csrf_token%}
    <button type="submit" , name="edit_studysession_id" ,value="{{studysessionmodel.id}}" ,class="btn btn-primary btn-sm"> Edit </button>
</form>
<form action="{% url 'delete_session' studysessionmodel.pk%}" method="POST">
    {% csrf_token%}
    <button type="submit" , name="delete_studysession_id" ,value="{{studysessionmodel.id}}" ,class="btn btn-primary btn-sm"> Delete </button>
</form>

{%endif%}
{% endblock %}