{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}

{% block content %}

<h1>{{studysessionmodel.title}}</h1>
{{studysessionmodel.start_time.date}}
<br />
<small>
    By: {{studysessionmodel.author}}
</small>
<br />

<hr>
{{studysessionmodel.text}}
<br />

<br />
When: {{studysessionmodel.start_time.time}}

<br />
How long: {{studysessionmodel.duration}}
<br />
Where: {{studysessionmodel.address}}
<br />

Enrolled:
{% for i in enroll_list %}
<li>{{i}}</li>
{%endfor%}
<hr>
<br />
<form action="{% url 'enroll' studysessionmodel.pk%}" method="POST">
    {% csrf_token%}
    <button type="submit" , name="studysession_id" ,value="{{studysessionmodel.id}}" ,class="btn btn-primary btn-sm"> Enroll </button>
</form>

{% if user.id == studysessionmodel.author.id%}
<form action="{% url 'edit_session' studysessionmodel.pk%}" method="POST">
    {% csrf_token%}
    <button type="submit" , name="edit_studysession_id" ,value="{{studysessionmodel.id}}" ,class="btn btn-primary btn-sm"> Edit </button>
</form>
<form action="{% url 'delete_session' studysessionmodel.pk%}" method="POST">
    {% csrf_token%}
    <button type="submit" , name="delete_studysession_id" ,value="{{studysessionmodel.id}}" ,class="btn btn-primary btn-sm"> Delete </button>
</form>

{%endif%}
<br />

 <div class="mask text-white" style="background-color: rgba(0, 0, 0, 0.7);">
        <div class="d-flex justify-content-center">
<!--            <div class="text-white">-->
                <h1 class="mb-3">Discussion:</h1>
        </div>
     <br />
     <div class="justify-content-end"
          <h6></h6>
                {% for i in replies %}
            <h6>{{i.author}} said: {{i.text}}</h6>
            {%endfor%}
<!--            </div>-->
<!--        </div>-->
 </div>
<br />
<br />
{% if user in enroll_list %}
    <form action="{% url 'discuss' studysessionmodel.pk%}" method="POST">
        {% csrf_token%}
            <div class="form-group">
              <h3>Post Your Response Here:</h3>
              <input type="hidden" name="post_id" value="{{post.id}}">
              <textarea class="form-control" id="desc" name="desc" rows="3"></textarea>
            </div>
        <button type="submit" , name="reply_studysession_id" ,value="{{studysessionmodel.id}}" ,class="btn btn-primary btn-sm"> Post </button>
    </form>
{%endif%}

{% endblock %}