{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}

{% block content %}
<br>

</head>
<body>
    <div class="form-control">
        <div class="container mt-3">
            <h2>My Study Session</h2>
            <p>Post your study session</p>
            <form method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit" name="post" class="btn btn-primary">Post</button>

            </form>
        </div>
    </div>
</body>
{% endblock %}
