{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}

{% block content %}

<br>


<body>

    <div class="container">
        <h2>Find a Buddy</h2>

        <form action="{% url 'userSearch' %}" method="POST">
            {% csrf_token %}
            <input type="text" name="name">
            <input type="submit" name="submit" value="Search">
        </form>
    </div>

    <body>

        <div class="container">
            <!--  <h2>Course List</h2>-->
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Major</th>
                        <th>Enrolled Courses</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in userList %}
                    <tr>
                        <td>{{i.user}}</td>
                        <td>{{i.Age}}</td>
                        <td>{{i.Major}}</td>
                        {% if i.Enrolled_Courses is not null %}
                        <td>
                            {% for c in i.Enrolled_Courses.all %}
                            <div>
                                {{ c.subject_field }} {{ c.catalog_number_field }}
                            </div>
                            {% endfor %}
                        </td>
                        {% endif %}
                        <td>
                            <form action=" = {%url 'class_add'}" method="POST">
                                {% csrf_token%}
                                <button type="submit" ,name="class_id" ,value=i, class="btn btn-info">Add Friend</button>
                            </form>
                        <td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>

    </body>
</html>
{% endblock %}