{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}

{% block content %}

<br>



    <div class="container">
        <h2>Find a Buddy</h2>

        <form action="{% url 'userSearch' %}" method="POST">
            {% csrf_token %}
            <input type="text" name="name">
            <input type="submit" name="submit" value="Search">
        </form>
    </div>

    <body>

        <div class="container">
            <!--  <h2>Course List</h2>-->
            <table class="table table-striped, text-white">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Major</th>
                        <th>Enrolled Courses</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in userList %}
                        {% if not user.profile.pk == i.pk %}
                            <tr>
                                <td><a href="{% url 'user_profile' pk=i.id %}">{{i.user}}</a></td>
                                <td>{{i.Age}}</td>
                                <td>{{i.Major}}</td>
                                {% if i.Enrolled_Courses is not null %}
                                    <td>{% for c in i.Enrolled_Courses.all %}
                                        <div>
                                            {{ c.subject_field }} {{ c.catalog_number_field }}
                                        </div>
                                        {% endfor %}
                                    </td>
                                {% endif %}
                                <td>
                                    <form action="{% url 'follow' %}" method="POST">
                                        {% csrf_token %}
                                        <!-- Save other profile id to submit in POST request for Follow button: -->
                                        <input type="hidden" name="other_profile_id" value="{{i.id}}">
                                        <button type="submit" name="follow_profile" value=i class="btn btn-info">Follow</button>
                                    </form>
                                <td>
                            </tr>
                        {% endif %}
                    {%endfor%}
                </tbody>
            </table>
        </div>

    </body>

{% endblock %}